/*!
 * Custom CSS file for Ensembly
 *
 * Copyright 2013 Ensembly
 *
 */
body{
    font-family: 'Open Sans', sans-serif !important;
}
.pad-top{
	padding-top: 10px
}

.item-price{
	font-size: 6em;
	text-align: center;
}

.logo{
	height: 50px;
	margin-top: -15px
}