/*!
 * Custom CSS file for Ensembly
 *
 * Copyright 2013 Ensembly
 *
 */
body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('../images/afw.png') !important;
    background-repeat: repeat
}
.pad-top{
	padding-top: 10px
}

.item-price{
	font-size: 6em;
	text-align: center;
	font-family: arial
}

#item-img {
	height: 50%;
	width: 100%
}


.logo{
	height: 50px;
	margin-top: -15px
}
.logo.dash{
	height: 25px;
	margin-top: -3px
}

.biz-logo{
	background: none
}

.suggested > img{
	height: 150px
}

.shops {
	height: 100px;
	width: auto
}

#middle {
	margin-left: 150px
}
.center{
	text-align: center
}
.carousel{
	width:auto;
	height: auto
}
.caption{
	background-color: rgba(0,0,0,0.58);
	border-radius: 10px
}